nav {
  background-color: #4d4c72;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: 0 10px 0 10px;
    height: 50px;
    width: 25px;
  }
}

@media (min-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: start;
    align-items: center;

    & a:hover {
      border-left: 3px springgreen solid;
    }
  }
}
